


.content-icons-link:hover, .content-icons-link:focus{
    background-color: #31d0aa;
}
.foot-form-p{
margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
}
.foot-form{
    display: flex;
    gap: 24px;
}



