.color-foot{
    width: 100%;
    background-color: #2e2f42;
    padding: 97px 0 96px 0;
}
.studio-foot{
    color: #f4f4fd;
}
.foot-container{
    display: flex;
    align-items: center;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   gap: 72px;
}
.foot-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-foot{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 18px;
    align-items: center;
    
}

.text-foot{
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
.text-foot-s{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.socials-f{
    display: flex;
    gap: 16px;
    margin-bottom: 72px;
}
.icons-f{
    width: 40px;
    height: 40px;
}
.social-media-box{
    display: flex;
  flex-direction: column;
  align-items: center;
}
.content-icons-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-icons-link:hover,
.content-icons-link:focus{
    background-color: #31d0aa;
}
.content-icons-f{
    fill: #f4f4fd;

}
.foot-form-btn{
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
}
.foot-form-btn:hover,
.foot-form-btn:focus{
    background-color: #404bbf;
}
.foot-form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot-form-input{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    }
    .foot-form-input::placeholder{
        color: #ffffff;
    }
    .foot-form-icon{
        margin-left: 16px;
        fill: #ffffff;
    }
    @media screen and (min-width: 768px) {
        .foot-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          column-gap: 24px;
          margin-left: auto;
          margin-right: auto;
        }
      
        .foot-form {
          flex-direction: row;
          align-items: flex-start;
        }
      
        .foot-form-box {
          align-items: flex-start;
        }
      }
      
      @media screen and (min-width: 1158px) {
        .foot-container {
          display: flex;
          align-items: baseline;
        }
      }
      