 
.content-icons{
    display: none;
}

.content{
    padding: 120px 0;
}
.content-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.list-ben{
    display: flex;
    gap: 72px;
    margin-top: 96px;
    flex-direction: column;

}
.headline{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
    text-transform: capitalize;
    
}
.text-p{
    line-height:1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 500;
    font-size: 16px;
  
}

@media screen and (min-width: 768px) {
    .list-ben {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 72px;
    }
    .headline {
      text-align: left;
    }
  
    .li-back-cards {
      width: calc((100% - 24px) / 2);
    }
  }
@media screen and (min-width: 1158px) {
    .content-box {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 112px;
      background-color: #f4f4fd;
      border-radius: 4px;
      margin-bottom: 8px;
      border: 1px solid #8e8f99;
    }
    .headline {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.02em;
      margin-bottom: 8px;
      text-align: left;
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .text-p {
      font-weight: 400;
    }
  
    .list-ben {
      display: flex;
      gap: 24px;
      margin-top: 120px;
    }
  
    .li-back-cards {
      width: calc((100% - 72px) / 4);
    }
  }

/* .li-back-cards{
    width: calc((100% - 72px) / 4);
   
}
